.lipsko-source, .lipsko-translation {
    display: inline-block;
    white-space: pre;
}

.lipsko-highlight {
    background-color: yellow;
}

[lipsko-id] {
    border-bottom: 1px gray dotted;
}

#lipsko-editor {
    margin-top: 100px;
}

#lipsko-editor .lipsko-word:hover {
    color: blue;
}

#lipsko-editor [lipsko-id]:after{
    content: attr(lipsko-id);
    vertical-align: super;
    font-size: 6px;
}

#lipsko-editor .lipsko-editor-word-editing {
    background-color: pink;
}

.lipsko-source-markup, .lipsko-translation-markup {
    font-size: 6px;
    font-family: monospace;
}

table {
    /*border: 1px solid lightgray;*/
    margin: 10px;
}

td {
    padding: 2px;
}

h2 {
    font-size: 14px;
}

.english-td {
    color: gray;
    border-bottom: 1px white solid;
}

h2:not(:first-of-type) {
    margin-top: 30px;
}

.home {
    margin-top: 20px;
    margin-bottom: 40px;
}